#content {
	width: 100%;
	text-align: center;
}

canvas {
	display: inline;
	border: 1px solid black;
}

h1 {
	text-align: left;
}

h2 {
	text-align: center;
}

ul {
	text-align: left;
}

td {
	width: 200px;
}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}

/*.btn-primary {
	background-color: #F4C2C2;
	color : white;
	border-color: #f7b6ff;
}

.btn-primary:hover {
	color : white;
	background-color: #e1b6ff;
	border-color:#f7b6ff;
}
*/

#container {
	width: 1280px;
	height: 720px;
	position: relative;
	display: inline-block;
}

#overlay {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 32pt;
	position: absolute;
	padding: 20px;
    left: 10px;
	bottom: 10px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
}