#content {
	width: 100%;
	text-align: center;
}

canvas {
	display: inline;
	border: 1px solid black;
}

h1 {
	text-align: left;
}

h2 {
	text-align: center;
}

ul {
	text-align: left;
}

td {
	width: 200px;
}

#loadingtext {
	position:absolute;
	top:250px;
	left:150px;
	font-size:2em;
	color: white;
}

/*.btn-primary {
	background-color: #F4C2C2;
	color : white;
	border-color: #f7b6ff;
}

.btn-primary:hover {
	color : white;
	background-color: #e1b6ff;
	border-color:#f7b6ff;
}
*/

#container {
	width: 1280px;
	height: 720px;
	position: relative;
	display: inline-block;
}

#hud-overlay {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 32pt;
	position: absolute;
	padding: 20px;
    left: 10px;
	bottom: 10px;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
}

#overlay {
	position: absolute;
    left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	text-align: center;
	pointer-events: none;
}

#overlay div{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 32pt;
	color: #ffffff;
	display: inline-block;
	padding: 20px;
	position: relative;
	top: 30%;
}

#overlay div p{
	margin-bottom: 70px;
}

#start-menu p{
	color: black;
}

#overlay .button{
	padding: 20px 40px;
	background-color: #3874f7;
	text-decoration: none;
	color: white;
	border-radius: 10px;
	pointer-events: all;
}

#overlay .button:hover{
	background-color: #2a57b8;
}
